.col-md-1, .col-md-2{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px)
  .col-md-1 {
    width: 25%;
  }
@media (min-width: 992px)
  .col-md-1, .col-md-2{
  float: left;
  }