---
layout: default
---
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <style type="text/css">body{
    margin: auto;
    font-size: 16px;
    font-family: 'Alegreya'
  }
  @media (min-width: 780px) {
      body {
          width: 65%;
      }
  }
  @media (max-width: 780px) {
    body {
          width: 80%;
      }
  }
  @media (max-width: 560px) {
    body{
          width: 90%;
      }
   }
   a, a:visited, a:active, a:hover {
        color: #2b6dad;
  }
  a{
    text-decoration: none;
  }
  a:hover {
        text-decoration: underline;
  }

  h4{
    margin-bottom: 5px;
  }

  ul{
    margin-top: 7px;
  }

  li{
    margin-top: 5px;
  }
  </style>
</head>
<body>
<div dir="ltr">
<table cellpadding="5">
  <tbody>
    <tr>
      <td style="width:226px;height:185px"><img align="left" src="http://binhnguyen.info/binhnguyen.jpg" width="200" /></td>
      <td style="width:587px;height:185px">
      <h1 id="fullname">Binh Nguyen</h1>
      <span style="font-size:20px;">Ph.D student, Machine Learning, Recommender Systems</span><br />
      <span style="font-size:20px;"><a href="http://www.nii.ac.jp/graduate/en/" target="_blank">SOKENDAI (The Graduate University for Advanced Studies), Japan</a></span>

      <p><b>Email:</b> x@y (where x=binh, y=nii.ac.jp)&nbsp;</p>

      <p></p>

      <p><span style="font-size:18px;">I am a PhD student at <a href="http://www.nii.ac.jp/graduate/en/">SOKENDAI</a> (The Graduate University for Advanced Studies) and NII (National Institute of Informatics), Japan. My research interests include: Probabilistic modeling, Deep learning and&nbsp;Graph modeling with applications to recommendation systems.</span></p>

      <p></p>

      <p><span style="font-size:18px;">Highlights of my work is in <a href="http://binhnguyen.info/files/resume.pdf">my CV.</a></span></p>
      </td>
    </tr>
  </tbody>
</table>

<h4><span style="font-size:18px;">Educational background</span></h4>

<ul>
  <li><span style="font-size:18px;">2016 ~ present: Ph.D student, <a href="http://www.nii.ac.jp/graduate/en/">SOKENDAI</a> (The Graduate University for Advanced Studies), Japan</span></li>
  <li><span style="font-size:18px;">2008: MSc in Computer Science, Japan Advanced Institute of Science and Technology (<a href="http://www.jaist.ac.jp">JAIST</a>), Japan</span></li>
  <li><span style="font-size:18px;">2003: BS in Computer Science, Hanoi University of Science and Technology (<a href="http://hust.edu.vn">HUST</a>), Vietnam</span></li>
</ul>

<h4><span style="font-size:18px;">Research interests</span></h4>

<ul>
  <li><span style="font-size:18px;">Probabilistic models</span></li>
  <li><span style="font-size:18px;">Deep learning</span></li>
  <li><span style="font-size: 18px;">Graph embedding</span></li>
  <li><span style="font-size: 18px;">Recommender systems</span></li>
</ul>

<h4><span style="font-size:18px;">Publications</span></h4>

<ul>
  <li><span style="font-size:18px;"><strong>ThaiBinh Nguyen</strong>, Kenro Aihara, Atsuhiro Takasu, &quot;<em>Collaborative Item Embedding Model for Implicit Feedback Data</em>&quot;, in Proceeding of The 17th International Conference on Web Engineering (ICWE), Rome, Italy, 2017.</span></li>
  <li><span style="font-size:18px;"><strong>ThaiBinh Nguyen</strong>, Atsuhiro Takasu, &quot;<em>A Probabilistic Model for the Cold-Start Problem in Rating Prediction using Click Data</em>&quot;, in Proceeding of The 24th International Conference on Neural Information Processing (ICONIP), Guangzhou, China, 2017.</span></li>
  <li><span style="font-size:18px;"><strong>ThaiBinh Nguyen,</strong> Atsuhiro Takasu, &quot;<em>A Hierarchical Bayesian Factorization Model for Implicit and Explicit Feedback Data</em>&quot;, in Proceeding of&nbsp;The 13th International Conference on Advanced Data Mining and Applications (ADMA), Singapore, 2017.</span></li>
  <li><span style="font-size:18px;"><strong>Binh Nguyen</strong>, Kenro Aihara, Atsuhiro Takasu, &quot;<em>City recommender system based on a latent topic model</em>&quot;,&nbsp;IEICE Tech. Rep., vol. 115, no. 381,&nbsp;AI2015-42, pp. 95-99, Dec. 2015</span></li>
  <li><span style="font-size:18px;"><strong>Nguyen, T.B</strong>., Ho, T.B., Pham, C., Kawasaki, S, &quot;<em>Matching Complex Documents Using Tolerance Rough Set Model</em>&quot;,&nbsp;The 8th International&nbsp;Symposium on Knowledge and Systems Sciences KSS07, Ishikawa, Japan, Nov. 5-7, pp.156-162, 2007</span></li>
</ul>

<h4><span style="font-size:18px;">Honors and Awards</span></h4>

<ul>
  <li><span style="font-size:18px;">Monbukagakusho scholarship (Japanese government)&nbsp;for Ph.D student (2016 - 2019).</span></li>
  <li><span style="font-size:18px;">Monbukagakusho scholarship (Japanese government) for Research student (2015 - 2016).</span></li>
  <li><span style="font-size:18px;">Panasonic scholarship (from Panasonic Ltd.) for studying Master in Japan (2006 - 2008).</span></li>
  <li><span style="font-size:18px;">Panasonic scholarship (from Panasonic Ltd.) for research in Japan (2006 - 2008).</span></li>
  <li><span style="font-size:18px;">Scholarship from the Ministry of Education and Training, Vietnam, for excellent undergraduate student (1998 - 2003)</span></li>
</ul>

<h4><span style="font-size:18px;">Skills</span></h4>

<ul>
  <li><span style="font-size:18px;"><strong>Research</strong>:&nbsp; &nbsp; Probabilistic modeling, Deep learning, Graph embedding, Recommender systems.</span></li>
  <li><span style="font-size:18px;"><strong>Coding</strong>:&nbsp; &nbsp; &nbsp; &nbsp;Python, Tensorflow, Pytorch, C/C++, SQL, Hive, Latex.</span></li>
  <li><span style="font-size: 18px;"><strong>Languages</strong>: English, Japanese, Vietnamese.</span></li>
</ul>

<div>
<h4><span style="font-size:18px;">Interest conferences</span></h4>

<ul>
  <li><span style="font-size:18px;"><b>Machine Learning: </b>NIPS, ICML, IROS, ACML</span></li>
  <li><span style="font-size:18px;"><b>Data Mining: </b> ICDE, KDD, ICDM, CIKM, SDM, PKDD, WSDM, PAKDD</span></li>
  <li><span style="font-size:18px;"><b>Artificial intelligence: </b>AAAI, IJCAI, ICRA, ICGA, UAT, AISTATS</span></li>
  <li><span style="font-size:18px;"><b>Recommender Systems: </b>ACM RecSys. UMAP, ACM IUI</span></li>
</ul>
</div>

<hr />Last updated October, 2017 by Binh Nguyen</div>
</body>
</html>