---
layout: default
---
<div class="container">
  <div float="left" class="col-md-1">
    <img align="left" src="http://binhnguyen.me/binhnguyen.jpg" width="200" />
  </div>
  <div float="left" class="col-md-info">
    <h1 id="fullname">Binh Nguyen</h1>
      <div><i>Data Scientist / AI Engineer</i></div>
      <h3>Data Science Department, <a href="https://global.rakuten.com/corp/">Rakuten Inc.</a></h3>
      <div><b>Email:</b> x@y (where x=nguyenthaibinh, y=gmail.com)</div>
  </div>
</div>

<div class="container">
  I am a data scientist / AI Engineer at <a href="https://global.rakuten.com/corp/">Rakuten Inc.</a>, Tokyo. I completed my Ph.D in Recommender Systems and Deep Learning at the <a href="http://www.nii.ac.jp/graduate/en/">National Institute of Informatics (NII)</a>, Japan. Previously, I completed my master in text mining at the <a href="https://www.jaist.ac.jp/english/">Japan Advanced Instutute of Science and Technology (JAIST)</a>, Japan. I received my bachelor degree in computer science at the <a href="https://en.hust.edu.vn/home">Hanoi University of Science and Technology (HUST)</a>, Vietnam.

  <p>Highlights of my work is in <a href="http://binhnguyen.me/resume.pdf" target="_blank">my CV.</a></p>
</div>

<div class="container">
<h3>Educational background</h3>

<ul>
  <li>2019: Ph.D in Informatics, <a href="http://www.nii.ac.jp/graduate/en/">SOKENDAI</a> (The Graduate University for Advanced Studies), Japan</li>
  <li>2008: MSc in Computer Science, Japan Advanced Institute of Science and Technology (<a href="http://www.jaist.ac.jp">JAIST</a>), Japan</li>
  <li>2003: BS in Computer Science, Hanoi University of Science and Technology (<a href="http://hust.edu.vn">HUST</a>), Vietnam</li>
</ul>
</div>
<div class="container">
<h3>Research interests</h3>

<ul>
  <li>Deep learning</li>
  <li>Deep learning in Healthcare</li>
  <li>Recommender systems</li>
</ul>
</div>

<div class="container">
<h3>Publications</h3>

<ul class="publications">
  <li><b>ThaiBinh Nguyen</b>, Atsuhiro Takasu (2018). <u>NPE: Neural Personalized Embedding for Collaborative Filtering</u>, IJCAI-ECAI 2018, Stockholm, Sweden. [<a href='http://binhnguyen.me/papers/npe_ijcai18.pdf' target="_blank">pdf</a>]</li>
  <li><b>ThaiBinh Nguyen</b>, Kenro Aihara, Atsuhiro Takasu (2017). <u>Collaborative Item Embedding Model for Implicit Feedback Data</u>. In Proceeding of The 17th International Conference on Web Engineering (ICWE), Rome, Italy, 2017. [<a href='http://binhnguyen.me/papers/icwe2017.pdf' target="_blank">pdf</a>]</li>
  <li><b>ThaiBinh Nguyen</b>, Atsuhiro Takasu (2017). <u>A Probabilistic Model for the Cold-Start Problem in Rating Prediction using Click Data</u>. In Proceeding of The 24th International Conference on Neural Information Processing (ICONIP), Guangzhou, China, 2017. [<a href='http://binhnguyen.me/papers/iconip2017.pdf' target="_blank">pdf</a>]</li>
  <li><b>ThaiBinh Nguyen</b>, Atsuhiro Takasu (2017). <u>A Hierarchical Bayesian Factorization Model for Implicit and Explicit Feedback Data</u>. In Proceeding of&nbsp;The 13th International Conference on Advanced Data Mining and Applications (ADMA), Singapore, 2017. [<a href='http://binhnguyen.me/papers/adma2017.pdf' target="_blank">pdf</a>]</li>
  <li><b>Binh Nguyen</b>, Kenro Aihara, Atsuhiro Takasu (2015). <u>City recommender system based on a latent topic model</u>. IEICE Technical Report, vol. 115, no. 381, AI2015-42, pp. 95-99, Dec. 2015. [<a href='http://binhnguyen.me/papers/city_rec2015.pdf' target="_blank">pdf</a>]</li>
  <li><b>Nguyen, T.B</b>., Ho, T.B., Pham, C., Kawasaki, S. (2007). <u>Matching Complex Documents Using Tolerance Rough Set Model</u>. In Proceeding of The 8th International Symposium on Knowledge and Systems Sciences KSS07, Ishikawa, Japan, Nov. 5-7, pp.156-162, 2007. [<a href='http://binhnguyen.me/papers/kss2007.pdf' target="_blank">pdf</a>]</li>
</ul>
</div>

<div class="container">
<h3>Honors and Awards</h3>
<ul>
  <li>Best Student Award of the National Institute of Informatics, Japan.</li>
  <li>Monbukagakusho scholarship (Japanese government) for the doctoral course (2016 - 2019).</li>
  <li>Panasonic scholarship (from Panasonic Ltd.) for the master course (2006 - 2008).</li>
  <li>Scholarship from the Ministry of Education and Training, Vietnam, for excellent undergraduate student (1998 - 2003)</li>
</ul>
</div>

<div class="container">
<h3>Skills</h3>

<ul>
  <li><strong>Research</strong>:&nbsp; &nbsp; Probabilistic modeling, Deep learning, Graph embedding, Recommender systems.</li>
  <li><strong>Coding</strong>:&nbsp; &nbsp; &nbsp; &nbsp;Python, Tensorflow, Pytorch, C/C++, SQL, Hive, Latex.</li>
  <li><strong>Languages</strong>: English, Japanese, Vietnamese.</li>
</ul>
</div>