---
layout: default
---
<div class="container">
  <div float="left" class="col-md-1">
    <img align="left" src="http://binhnguyen.me/binhnguyen.jpg" width="200" />
  </div>
  <div float="left" class="col-md-info">
    <h1 id="fullname">Binh Nguyen</h1>
      <div><i>Ph.D student</i></div>
      <h3>Recommender System, Machine Learning, Deep Learning</h3>
      <div><a href="http://www.nii.ac.jp/graduate/en/" target="_blank">SOKENDAI (The Graduate University for Advanced Studies), Japan</a></div>

      <div><b>Email:</b> x@y (where x=binh, y=nii.ac.jp)</div>
  </div>
</div>

<div class="container">
  I am a PhD student at <a href="http://www.nii.ac.jp/graduate/en/">SOKENDAI</a> (The Graduate University for Advanced Studies) and NII (National Institute of Informatics), Japan. My research interests include: <em>Probabilistic modeling</em>, <em>Deep learning</em> and <em>Graph modeling</em> with applications to <em>Recommendation systems</em>.

  <p>Highlights of my work is in <a href="http://binhnguyen.me/resume.pdf" target="_blank">my CV.</a></p>
</div>

<div class="container">
<h3>Educational background</h3>

<ul>
  <li>2016 ~ present: Ph.D student, <a href="http://www.nii.ac.jp/graduate/en/">SOKENDAI</a> (The Graduate University for Advanced Studies), Japan</li>
  <li>2008: MSc in Computer Science, Japan Advanced Institute of Science and Technology (<a href="http://www.jaist.ac.jp">JAIST</a>), Japan</li>
  <li>2003: BS in Computer Science, Hanoi University of Science and Technology (<a href="http://hust.edu.vn">HUST</a>), Vietnam</li>
</ul>
</div>
<div class="container">
<h3>Research interests</h3>

<ul>
  <li>Probabilistic models</li>
  <li>Deep learning</li>
  <li>Graph embedding</li>
  <li>Recommender systems</li>
</ul>
</div>

<div class="container">
<h3>Publications</h3>

<ul>
  <li><u>ThaiBinh Nguyen</u>, Atsuhiro Takasu, &quot;<em>NPE: Neural Personalized Embedding for Collaborative Filtering</em>&quot;, IJCAI-ECAI 2018, Stockholm, Sweden (accepted)</li>
  <li><u>ThaiBinh Nguyen</u>, Kenro Aihara, Atsuhiro Takasu, &quot;<em>Collaborative Item Embedding Model for Implicit Feedback Data</em>&quot;, in Proceeding of The 17th International Conference on Web Engineering (ICWE), Rome, Italy, 2017.</li>
  <li><u>ThaiBinh Nguyen</u>, Atsuhiro Takasu, &quot;<em>A Probabilistic Model for the Cold-Start Problem in Rating Prediction using Click Data</em>&quot;, in Proceeding of The 24th International Conference on Neural Information Processing (ICONIP), Guangzhou, China, 2017.</li>
  <li><u>ThaiBinh Nguyen,</u> Atsuhiro Takasu, &quot;<em>A Hierarchical Bayesian Factorization Model for Implicit and Explicit Feedback Data</em>&quot;, in Proceeding of&nbsp;The 13th International Conference on Advanced Data Mining and Applications (ADMA), Singapore, 2017.</li>
  <li><u>Binh Nguyen</u>, Kenro Aihara, Atsuhiro Takasu, &quot;<em>City recommender system based on a latent topic model</em>&quot;,&nbsp;IEICE Tech. Rep., vol. 115, no. 381,&nbsp;AI2015-42, pp. 95-99, Dec. 2015</li>
  <li><u>Nguyen, T.B</u>., Ho, T.B., Pham, C., Kawasaki, S, &quot;<em>Matching Complex Documents Using Tolerance Rough Set Model</em>&quot;,&nbsp;The 8th International&nbsp;Symposium on Knowledge and Systems Sciences KSS07, Ishikawa, Japan, Nov. 5-7, pp.156-162, 2007</li>
</ul>
</div>

<div class="container">
<h3>Honors and Awards</h3>
<ul>
  <li>Monbukagakusho scholarship (Japanese government)&nbsp;for Ph.D student (2016 - 2019).</li>
  <li>Monbukagakusho scholarship (Japanese government) for Research student (2015 - 2016).</li>
  <li>Panasonic scholarship (from Panasonic Ltd.) for studying Master in Japan (2006 - 2008).</li>
  <li>Panasonic scholarship (from Panasonic Ltd.) for research in Japan (2006 - 2008).</li>
  <li>Scholarship from the Ministry of Education and Training, Vietnam, for excellent undergraduate student (1998 - 2003)</li>
</ul>
</div>

<div class="container">
<h3>Skills</h3>

<ul>
  <li><strong>Research</strong>:&nbsp; &nbsp; Probabilistic modeling, Deep learning, Graph embedding, Recommender systems.</li>
  <li><strong>Coding</strong>:&nbsp; &nbsp; &nbsp; &nbsp;Python, Tensorflow, Pytorch, C/C++, SQL, Hive, Latex.</li>
  <li><strong>Languages</strong>: English, Japanese, Vietnamese.</li>
</ul>
</div>